body {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.left-section {
    width: 33vw;
    height: 100vh;
    position: fixed;
    background-image: url("background.jpg");
    background-size: cover;
    color: #ffffff;

}

.dark-bg {
    background-color:rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 20%;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dark-bg p {
    font-size:4vw;
    font-family:'skranji', Helvetica, Arial, sans-serif;
}

img {
    height:75%;
}

.left-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    margin-bottom: 5vh;
    opacity: 0.8;
}